<style>
	*{
		/*color : green;*/
		text-align : center;
	}
	h1 {
		color: red;
	}
</style>
<h1>Registration Failed</h1>
<br>
<button onclick="window.location.href='/'">
	<h3>Return to Home Page</h3>
</button>
<br>
<button onclick="window.location.href='/register'">
	<h3>Return to Registration Page</h3>
</button>
