<style>
	*{
		text-align: center;
	}
</style>
<h1>this is the home page</h1>
<ul>
	<li>
		<a href='/login'>
			<h2>login page</h2>
		</a>
	</li>

	<li>
		<a href='/register'>
			<h2>register page</h2>
		</a>
	</li>
</ul>
