<h1>this is login page</h1>
<form method='POST' action='/login'>
	<h2>enter email</h2>
	<input type='email' name='emailid' placeholder='your email id here'>
	<h2>enter password</h2>
	<input type='password' name='pass' placeholder='your password here'>
	<button type='submit'><h3>login !</h3></button>
</form>

<a href='/'>
	<h2>Go Back<h2>
</a>
