<h1>this is the login page</h1>

<form action = '/login' method = 'POST'>
	<h2>enter email</h2>
	<input type='email'></input>
	<br>
	<h2>enter password</h2>
	<input type='password'></input>
	<button type='submit'>login!</button>
</form>
