<style>
	*{
		text-align: center;
	}
	#boob{
		color: red;
	}
</style>
<h1>this is login page</h1>
<h1 id="boob"><%=msg%></h1>
<form method='POST' action='/login'>
	<h2>enter email</h2>
	<input type='email' name='emailid' placeholder='your email id here'>
	<h2>enter password</h2>
	<input type='password' name='pass' placeholder='your password here'>
	<br>
	<br>
	<button type='submit'>login !</button>
</form>

<a href='/'>
	<h2>Go Back<h2>
</a>
