<style>
	*{
		text-align: center;
	}
</style>
<h1>this is registration page</h1>
<form method='POST' action='/register'>
	<h2>enter email</h2>
	<input type='email' name='emailid' placeholder='your email id here'>
	<h2>enter username</h2>
	<input type='text' name='username' placeholder='your username here'>
	<h2>enter password</h2>
	<input type='password' name='pass' placeholder='your password here'>
	<br>
	<br>
	<button type='submit'>register !</button>
</form>

<a href='/'>
	<h2>Go Back<h2>
</a>
