<style>
	*{
		/*color : green;*/
		text-align : center;
	}
	h1 {
		color: green;
	}
</style>
<h1>Registration Succesful</h1>
<br>
<button onclick="window.location.href='/'">
	<h3>Return to Home Page</h3>
</button>
<br>
<button onclick="window.location.href='/login'">
	<h3>Goto Login Page</h3>
</button>
