<style type="text/css">
	*{
		text-align: center;
		
	}
	h1 {
		margin: 40px;
	}
	.passeddata {
		color: blue;
	}
</style>
<script type="text/javascript">
</script>
<h1>
	welcome user 
	<span class="passeddata">
		<%=name%> 
	</span>
</h1>